@font-face {
    font-family: 'Sequel 75';
    src: url('../font/Sequel100Black-75.woff'); 
} 

@font-face {
    font-family: 'Sequel 55';
    src: url('../font/Sequel100Black-55.woff'); 
}
@font-face {
    font-family: 'RoundhandBT';
    src: url('../font/RoundhandBT-_1_.woff'); 
} 